body,html{
    margin: 0;
    padding:0;
    width: 100%;
    height:100%;
}

.cartao{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    margin-top:2rem;
    justify-content: center;
    align-items: center;
    justify-items: center;

}

.pesquisa{
    width: 40rem;
    border: solid 1px var(--bs-gray-200);
    padding: 5rem;
    border-radius: 13px 13px 0 0
}

.imagem{
    width:250px;
    margin-top: 10px;
}

.imagem img{
    width: 100%;
}

.carta{
    width: 40rem;
    display: none;
    justify-items: center;
    border:solid 1px var(--bs-gray-200);
    border-radius:0 0 13px 13px;
    padding: 3rem;
}