*{
    padding: 0;
    margin:0;
    border:0;
    box-sizing:border-box;
    list-style:none;
    outline:none;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}

body{
    height: 100vh;
    width: 100vw;
    background: var(--background);
}

:root{
    --background: #0c0f1e;
    --primary:#143041;
    --secondary:#214f5f;
    --tertiary:#e2773a;
    --tertiary-hover:#c96b35;
    --text-secondary:rgb(116, 115, 115);
}

header{
    width: 100%;
    height: 8rem;
    padding: 1rem;
    background-color: var(--primary);
    display: flex;
    align-items: center;

    & input{
        height: 4rem;
        width: 40rem;
        font-size:23px;
        padding: 15px;
        border-radius:2px;
        color:black;
    }
}

.tarefas{
    margin-top: 2rem;
    padding:0 5rem;
    width: 100%;

    & h2{
        font-size: 45px;
        display: flex;
        align-items: center;
        margin-bottom:2rem;
        justify-content: space-between;

        & button{
            width: 10rem;
            height: 3.125rem;
            color:white;
            background: var(--tertiary);
            font-size: 20px;
            border-radius: 6px;
            transition:background 0.2s ease;
            cursor:pointer;

            &:hover{
                background: var(--tertiary-hover);
            }
        }
    }

    & h6{
        text-align: center;
        font-size:15px;
        color: var(--text-secondary);
    }
}

.modal{
    position: fixed;
    width: 30rem;
    top:40%;
    left: 50%;
    transform:translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
    background-color: var(--secondary);
    justify-content: center;
    border-radius: 6px;
    z-index:2;

    & h2{
        text-align: center;
        font-size: 28px;
    }

    & .inputs{
        display: flex;
        flex-direction: column;
        gap: 2rem;

        & #titulo{
            height: 3rem;
            padding: 10px;
            border-radius: 2px;
            font-size: 17px;
            color: black;
            border:solid 2px white;
            transition:border 0.2s ease;

            &:focus{
                border:solid 2px #ffc14e;
            }
        }

        & #descricao{
            height: 10rem;
            max-width: 100%;
            padding: 10px;
            font-size: 17px;
            color: black;
            min-height: 3rem;
            border: solid 2px white; 
            border-radius:2px;
            transition:border 0.2s ease;


            &:focus{
                border-color: #ffc14e;
            }
        }
    }

    & button{
        width: 100%;
        height: 3rem;
        color: white;
        background: var(--tertiary);
        font-size: 18px;    
        transition: background 0.2s ease;
        border-radius: 6px;

        &:hover{
            background: var(--tertiary-hover);
        }
    }
}

#overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #00000070;
    z-index:1;
}