*{
    padding: 0;
    margin:0;
    border:0;
    box-sizing:border-box;
    list-style:none;
    outline:none;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}

body{
    height: 100vh;
    width: 100vw;
    background: var(--background);
}

:root{
    --background: #0c0f1e;
    --primary:#143041;
    --secondary:#214f5f;
    --tertiary:#e2773a;
    --tertiary-hover:#c96b35;
    --text-secondary:rgb(116, 115, 115);
    --border: #ffc14e;
    --shadow: 0 8px 24px rgba(0, 0, 0, 0.6);
}

header{
    width: 100%;
    height: 8rem;
    padding: 1rem;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    box-shadow: var(--shadow);

    & input{
        height: 4rem;
        width: 40rem;
        font-size:23px;
        padding: 15px;
        border-radius:2px;
        color:black;
        border: solid 2px white;
        transition: border 0.2s ease;

        &:focus{
            border-color: var(--border);
        }
    }
}

.tarefas{
    margin-top: 2rem;
    padding:0 5rem;
    width: 100%;

    & h2{
        font-size: 45px;
        display: flex;
        align-items: center;
        margin-bottom:2rem;
        justify-content: space-between;

        & button{
            width: 10rem;
            height: 3.125rem;
            color:white;
            background: var(--tertiary);
            font-size: 20px;
            border-radius: 6px;
            transition:background 0.2s ease;
            cursor:pointer;

            &:hover{
                background: var(--tertiary-hover);
            }
        }
    }

    & h6{
        text-align: center;
        width: 100%;
        font-size:15px;
        color: var(--text-secondary);
    }

    & ul{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        margin-top: 3rem;

        & li{
            background: var(--primary);
            width: calc(25% - 1.5rem);
            padding: 13px;
            border-radius: 2px;
            box-shadow: var(--shadow);
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            & .info{
                width: 100%;
                height: 100%;
            }

            & h4{
                text-align: left;
                font-size: 22px;
                margin-bottom: 10px;
                font-weight: bold;
            }

            & p{
                font-size: 17px;
                word-break: break-word;
            }

            & .btn-apagar{
                width: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                height: 2rem;

                & box-icon{
                    fill:#B91C1C;
                    transition:fill 0.2s ease;
                    cursor:pointer;
                    
                    &:hover{
                        fill:#FF2D2D;
                    }
                }
            }
        }
    }
}

.modal{
    position: fixed;
    width: 30rem;
    top:40%;
    left: 50%;
    transform:translate(-50%,-60%);
    padding: 1rem;
    background-color: var(--secondary);
    border-radius: 6px;
    z-index:2;
    visibility: hidden;
    opacity: 0;
    transition-duration: 200ms;
    box-shadow: var(--shadow);

    & form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }

    & h2{
        text-align: center;
        font-size: 28px;
        display: flex;
        align-items: center;
        justify-content: center;

        & box-icon{
            position: absolute;
            right: 0;
            top: 0;
            fill: white;
            cursor: pointer;
            width: 2rem;
            height: 2rem;
            border-radius: 9999px;
            margin: 2px;
            transition: background 0.2s ease;

            &:hover{
                background: var(--primary);
            }
        }
    }

    & .inputs{
        display: flex;
        flex-direction: column;
        gap: 2rem;

        & #titulo{
            height: 3rem;
            padding: 10px;
            border-radius: 2px;
            font-size: 17px;
            color: black;
            border:solid 2px white;
            transition:border 0.2s ease;

            &:focus{
                border:solid 2px var(--border);
            }
        }

        & #descricao{
            height: 10rem;
            max-width: 100%;
            padding: 10px;
            font-size: 17px;
            color: black;
            min-height: 3rem;
            border: solid 2px white; 
            border-radius:2px;
            transition:border 0.2s ease;


            &:focus{
                border-color: var(--border);
            }
        }
    }

    & button{
        width: 100%;
        height: 3rem;
        color: white;
        background: var(--tertiary);
        font-size: 18px;    
        transition: background 0.2s ease;
        border-radius: 6px;

        &:hover{
            background: var(--tertiary-hover);
        }
    }
}

.modal.active{
    opacity: 1;
    visibility:visible;
    transform: translate(-50%, -50%);
}

#overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #00000070;
    z-index:1;
    visibility: hidden;
    opacity: 0;
    transition-duration: 200ms;
}

#overlay.active{
    opacity: 1;
    visibility: visible;
}

.alerta{
    position: fixed;
    bottom: -50px;
    right: 0;
    background: var(--secondary);
    margin: 10px;
    padding:1.7rem 1rem;
    box-shadow: var(--shadow);
    border-radius: 2px;
    visibility: hidden;
    opacity: 0;
    transition-duration: 200ms;

    & p{
        font-weight: bold;
        font-size:17px;
    }

    & box-icon{
        position:absolute;
        top:0;
        right: 0;
        fill:white;
        width: 1.5rem;
        height: 1.5rem;
        cursor:pointer;
    }
}

.alerta.active{
    visibility: visible;
    opacity:1;
    bottom:0;
}