*{
    padding: 0;
    margin:0;
    border:0;
    box-sizing:border-box;
    list-style:none;
    outline:none;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}

body{
    height: 100vh;
    width: 100vw;
    background: var(--background);
}

:root{
    --background: #0c0f1e;
    --primary:#143041;
    --secondary:#214f5f;
    --tertiary:#e2773a;
    --tertiary-hover:#c96b35;
    --text-secondary:rgb(116, 115, 115);
}

header{
    width: 100%;
    height: 8rem;
    padding: 1rem;
    background-color: var(--primary);
    display: flex;
    align-items: center;

    & input{
        height: 4rem;
        width: 40rem;
        font-size:23px;
        padding: 15px;
        border-radius:6px;
        color:black;
    }
}

.tarefas{
    margin-top: 2rem;
    padding:0 5rem;
    width: 100%;

    & h2{
        font-size: 45px;
        display: flex;
        align-items: center;
        margin-bottom:2rem;
        justify-content: space-between;

        & button{
            width: 10rem;
            height: 3.125rem;
            color:white;
            background: var(--tertiary);
            font-size: 20px;
            border-radius: 6px;
            transition:background 0.2s ease;
            cursor:pointer;

            &:hover{
                background: var(--tertiary-hover);
            }
        }
    }

    & h6{
        text-align: center;
        font-size:15px;
        color: var(--text-secondary);
    }
}